.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-me-header {
  font-size: 72px;
}

.about-me-text {
  width: 500px;
}

img {
  width: 400px;
  height: 400px;
}

.email {
  font-weight: bold;
}