.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-me-header {
  font-size: 72px;
}

.about-me-sub-header {
  font-size: 32px;
}

.about-me-text {
  width: 650px;
  height: 150px;
  margin-top: -10px;
}

img {
  width: 400px;
  height: 400px;
}

/*** MOBILE ***/
@media (min-width: 1px) and (max-width: 667px) {

.about-me-sub-header {
  font-size: 26px;
}

.about-me-text {
  width: 300px;
  height: 250px;
  margin-top: -10px;
}

img {
  width: 300px;
  height: 300px;
}

}


/*** TABLET ***/
@media (min-width: 668px) and (max-width: 1024px) {

  .about-me-text {
    width: 400px;
    height: 250px;
    margin-top: -10px;
  }

}