.ceramics-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 120px;
}

.ceramics-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}

.ceramics-header {  
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 28px;
}

.ceramics-image {
  height: 400px;
  width: 400px;
  padding: 5px;
}

/*** MOBILE ***/
@media (min-width: 1px) and (max-width: 667px) {

.ceramics-image{
  width: 300px;
  height: 300px;
}

}


/*** TABLET ***/
@media (min-width: 668px) and (max-width: 1024px) {


}