.footer {
  display: flex;
  justify-content: center;
  bottom: 0px;
  width: 100%;
  background-color: #ecd9c6;
  height: 60px;
  padding: 7px;
  position: absolute;
  display: inline-block;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

.email {
  font-weight: bold;
}

/*** MOBILE ***/
@media (min-width: 1px) and (max-width: 667px) {

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

}


/*** TABLET ***/
@media (min-width: 668px) and (max-width: 1024px) {



}