.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: yellow;
  height: 40px;
  padding: 10px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}