.hero-image {
  background-image: url("../images/Background_image_2.jpg");
  background-color: #cccccc;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
  font-size: 100px;
}


/*** MOBILE ***/
@media (min-width: 1px) and (max-width: 667px) {

.hero-text {
  font-size: 60px;
}

}


/*** TABLET ***/
@media (min-width: 668px) and (max-width: 1024px) {

.hero-text {
  font-size: 100px;
}

}