a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #f8f2ec;
}

.nav-links {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

li {
  margin: 15px;
}