.single-product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.single-product-header {
  font-size: 32px;
}

.single-product-text {
  margin-top: -10px;
  height: 200px;
}

.single-product-image {
  display: flex;
  margin: 20px;
  height: 600px;
  width: 600px;
  position: relative;
}

/*** MOBILE ***/

@media (min-width: 1px) and (max-width: 667px) {

.single-product-image {
  display: flex;
  margin: 20px;
  height: 300px;
  width: 300px;
  position: relative;
}

.single-product-text {
  margin-top: -10px;
  width: 300px;
}

}

/*** TABLET ***/

@media (min-width: 668px) and (max-width: 1024px) {

  .single-product-image {
    display: flex;
    margin: 20px;
    height: 400px;
    width: 400px;
    position: relative;
  }
  
  .single-product-text {
    margin-top: -10px;
    width: 350px;
  }
  
  }