.single-product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.single-product-header {
  font-size: 32px;
}

.single-product-text {
  margin-top: -10px;
}

.single-product-image {
  display: flex;
  margin: 20px;
  height: 600px;
  width: 600px;
  position: relative;
}
