.single-product-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-product-header {
  font-size: 28px;
}

.single-product-image {
  display: flex;
  margin: 20px;
  height: 600px;
  width: 600px;
}